<launch>

  <node name="my_robot" pkg="base_controller" type="base_controller" respawn="false"
    output="screen" >
  </node>


  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find base_controller)/config/base_controllers.yaml" command="load"/>

  <!-- URDF and TF support -->
  <param name="robot_description" command="$(find xacro)/xacro.py $(find fetch_gazebo)/robots/freight.gazebo.xacro" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" >
    <param name="publish_frequency" value="50.0"/>
  </node>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="joint_state_controller diff_drive_controller" >
  </node>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  </node>-->

  <!-- Oh, you wanted a robot? -->
  <!-- <include file="$(find fetch_gazebo)/launch/freight.launch.xml" />-->



</launch>
